/* Background */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #1d976c, #93f9b9);
    color: white;
}

/* Container */
.container {
    text-align: center;
    padding: 40px 20px;
}

/* Title */
h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.subtitle {
    opacity: 0.8;
    margin-bottom: 25px;
}

/* Upload box */
.upload-box {
    background: white;
    color: black;
    padding: 25px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Input */
input[type="file"] {
    margin: 10px 0;
}

/* Button */
button {
    background: linear-gradient(to right, #1d976c, #11998e);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

/* Loader */
#loader {
    display: none;
    margin-top: 20px;
    font-weight: bold;
}

/* Result */
.result-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Danger */
.danger {
    background: rgba(255, 0, 0, 0.7);
}

/* Safe */
.safe {
    background: rgba(0, 128, 0, 0.7);
}

/* Image layout */
.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* Card */
.card {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Image */
img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}